@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

.pulse-dot{
    display: block;
    width: 6px;
    height: 6px;
    background-color: #28FF7E;
    animation: pulseDot 2s ease-in-out infinite;
}

@keyframes pulseDot{
    0%, 100% {
        opacity: 0.5;
        transform: scale(0.80);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}